body {
    margin: 0px;
    font-family: "Segoe UI", sans-serif;
}

a:link, a:visited, a:hover, a:active {
    color: #953434;
    text-decoration: none;
}

#background {
    position:fixed;
    right:0;
    top:0;
    width:1300px;
    height:1300px;
    z-index: 10;
}

div {
    position: relative;
    z-index: 20;
}

.header {
    display: inline-block;
    font-size: 50px;
    font-weight: lighter;;
}

header > #login {
    margin-left: 32px;
    margin-top: 24px;
}

header > #ranking {
    margin-left: 40px;
    margin-top: 24px;
}

#logo {
    margin-left: 324px;
    margin-top: 0px; 
    width: 720px;
    height: 432px;
}

#start, #how-to-play {
    font-size: 100px;
    font-weight: lighter;
    color: #953434;
}

#start {
    margin-left: 554px;
    margin-top: 40px;
}

#how-to-play {
    margin-left: 374px;
    margin-top: 40px;
}

#guest {
    margin-left: 688px;
    margin-top: -26px;
    font-size: 30px;
    color: #95989A;
}

#ranking {
    color: #953434;
}


/* matching cover */

#matchingCover
{
    z-index: 1000;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FFBE74;
}

.loader
{
	position: relative;
	width: 400px;
	height: 200px;
    
	top: 50%;
	top: -webkit-calc(50% - 100px);
	top: calc(50% - 100px);
	left: 50%;
	left: -webkit-calc(50% - 200px);
	left: calc(50% - 200px);
	
	background-image: url(../static/Loading.png);
	
	-webkit-transform-origin:  50% 50%;
			transform-origin:  50% 50% ;
	-webkit-animation: loader6 1s ease-in-out infinite;
			animation: loader6 1s ease-in-out infinite;
}

#loading-image
{
    position: fixed;
    left: 50%;
    margin-left: -120px;
    margin-top: 280px;
    width: 240px;
    height: 240px;
}
         
#loading
{
    position: block;
    left: 50%;
    margin-left: -126.0545px;
    margin-top: 524px;        
    font-size: 60px;
    color: #95989A;
}

@-webkit-keyframes loader6
{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes loader6
{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}

#cancel
{
    text-align: center;
    font-size: 2rem;
    color: #953434;
}