html
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: "Segoe UI", sans-serif;
}

.container
{
    box-sizing: border-box;
    height: 100%;
    
    border: 5px solid purple;
}

left
{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 75%;
    height: 100%;
    
    border: 5px solid red;
}

right
{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    
    border: 5px solid yellow;
}

left > main
{
    display: block;
    box-sizing: border-box;
    height: 80%;
    
    border: 5px solid green;
}

left > bottom
{
    display: table;
    box-sizing: border-box;
    background-color: #FFEDBB;
    padding: 2rem;
    width: 100%;
    height: 20%;
    
    border: 5px solid blue;
}

right > turn
{
    display: block;
    box-sizing: border-box;
    height: 30%;
    
    border: 5px solid red;
}

right > time
{
    display: block;
    box-sizing: border-box;
    height: 30%;
    
    border: 5px solid green;
}

right > tip
{
    display: block;
    box-sizing: border-box;
    height: 40%;
    
    border: 5px solid blue;
}

main > #map
{
    box-sizing: border-box;
    padding: 2rem;
    height: 100%;
    
    border: 5px solid skyblue;
}

table
{
    display: block;
    border-collapse: collapse;
    height: 100%;
}

tbody
{
    display: block;
    height: 100%;
}

tr
{ 
    display: inline-block;
    width: 100%;
    height: 10%;
}

td
{
    display: inline-block;
    box-sizing: border-box;
    width: 5%;
    height: 100%;
    
    background-color: gray;
    border: 1px solid white;
}

bottom > .padding
{
    display: table-cell;
    box-sizing: border-box;
    width: 2%;
}

bottom > #menu
{
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 4rem;
    font-size: 5rem;
}

bottom > #health
{
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    font-size: 4rem;
    font-weight: lighter;
    
    background-image: url(../static/Player1.png);
    background-size: cover;
}

bottom > #score
{
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: right;
    font-weight: lighter;
    width: 20%;
}

bottom > #move
{
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    font-size: 6rem;
    font-weight: lighter;    
}

bottom > #item
{
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}

bottom > #item
{
    vertical-align: top;
    font-size: 2rem;
    font-weight: lighter;
}

bottom > #slot
{
    box-sizing: border-box;
    
    background-image: url(../static/White_Circle.png);
    background-size: cover;
}

#score > #top
{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 40%;
}

#score > #bottom
{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 3.5rem;
    width: 100%;
    height: 60%;
}