html
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: "Segoe UI", sans-serif;
}

.container
{
    box-sizing: border-box;
    height: 100%;
    
    border: 5px solid purple;
}

left
{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 75%;
    height: 100%;
    
    border: 5px solid red;
}

right
{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    
    border: 5px solid yellow;
}

main
{
    display: block;
    box-sizing: border-box;
    height: 80%;
    
    border: 5px solid green;
}

bottom
{
    display: block;
    box-sizing: border-box;
    height: 20%;
    
    border: 5px solid blue;
}

turn
{
    display: block;
    box-sizing: border-box;
    height: 30%;
    
    border: 5px solid red;
}

time
{
    display: block;
    box-sizing: border-box;
    height: 30%;
    
    border: 5px solid green;
}

tip
{
    display: block;
    box-sizing: border-box;
    height: 40%;
    
    border: 5px solid blue;
}